GEMINI_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_PUBLISHABLE_KEY=
PORT=3001
BASE_URL=https://artefinal-rag2-marcia.gumtcw.easypanel.host

# Evolution API (WhatsApp)
EVOLUTION_URL=https://artefinal-evolution-api.gumtcw.easypanel.host
EVOLUTION_APIKEY=
EVOLUTION_INSTANCE=Leonardo
